* {
box-sizing: border-box;
}

body{
  margin: 0;
  background: white;
}

.pattern1{
  height: 500%;
  width: 100%;
  position: relative;
  top: 200px;
  top: 100px;
}

.pattern2{
  height: 15%;
  width: 75%;
  display: none;
}

.pattern3{
  height: 50%;
  width: 50%;
  display:none;
}

.pattern4{
  height: 25%;
  width: 50%;
  display: none;
}


@media (max-width: 900px) {
  .pattern1{
    display: none;

  }

  .pattern2{
    display: block;
    padding: 20px;
    position: relative;
    margin: auto;
    width: 100%;
  }

  body{
    background: white;
  }
}

@media (max-width: 800px) {
  .pattern3{
    display: none;
  }

  .pattern2{
    display: none;
  }

  .pattern4{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  }


}
