* {
box-sizing: border-box;
}

body {
margin: 0;
}

header {
position: fixed;
height: 100px;
width: 100%;
background-color: green;
top: 0;
left: 0;
z-index: 2;
}

main {
background-color: grey;
position: relative;
top: 100px;

}

.nav {
padding: 50px;
background-color:lightblue;
width: 30%;
position: fixed;
top: 100px;
left: 0px;
}

.container {
padding: 50px;
background-color: yellow;
width: 70%;
position: relative;
left: 30%;
}

.container-item {
height: 300px;
margin-bottom: 50px;
background-color: orange;
}

.container-item:nth-child(2) {
background-color: red;
}

.container-item:last-child {
margin-bottom: 0;
}

.nav-item {
height: 50px;
margin-bottom: 20px;
background-color: blue;}

.nav-item:last-of-type {
margin-bottom: 0px;
}

.nav-footer {
height: 50px;
position: absolute;
background-color: navy;
top: 100%;
left: 0;
width: 100%; }
