body {
 font-family: 'Raleway', sans-serif;
background-size: cover;
font-size: 70px;
margin: 100px;
margin-top: 70px;
letter-spacing: 2px;
width: 92%;
}


.paragraph-1:hover {
        color:#b88c90;
        opacity: 0.6;
    }

.paragraph-2:hover {
            color:#b88c9b0;
            opacity: 0.6;
        }

.paragraph-3:hover  {
                color:#b88c90;
                opacity: 0.6;
            }

.paragraph-4:hover  {
    color:#b88c90;
    opacity: 0.6;
                }

.arrows {
    margin-top: 100px;
}


 .back {
     width: 5.5%;
     height: 5.5%;
                 }

.back:hover {
                   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                   transform: translate3d(0, 0, 0);
                   backface-visibility: hidden;
                   perspective: 1000px;
                 }

                 @keyframes shake {
                   10%, 90% {
                     transform: translate3d(-1px, 0, 0);
                   }

                   20%, 80% {
                     transform: translate3d(2px, 0, 0);
                   }

                   30%, 50%, 70% {
                     transform: translate3d(-4px, 0, 0);
                   }

                   40%, 60% {
                     transform: translate3d(4px, 0, 0);
                   }
                 }


@media only screen and (max-width: 1080px ) {

.body {
font-size: 67px;
margin: auto;
line-height: 100px;
width: 93%;
}
.paragraph-1 {
    color:#b88c90;
}


.paragraph-3 {
    color:#b88c90;
            }

.back {
    width: 10.5%;
    height: 10.5%;
    }
}
