body {
background-color: snow;
}

.logo {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 300px;
}

.logo-letters {
    width: 100%;
    height: 100%;
}


.logo-dot {
    position: absolute;
    right: 0;
    top: -20%;
    height: 15%;
    width: 15%;
    background-color: #AA0000;
    animation: square-to-circle 4s 0s infinite alternate;
}



@media only screen and (max-width: 1080px ) {

.logo-dot {
margin-top: 630px;
}

.logo-letters {
    margin-top: 650px;
}
}

@keyframes square-to-circle {
  0%  {
    border-radius:50%;
    transform:rotate(180deg);
  }

}
30% {
  border-radius:50% 50%;
  transform:rotate(40deg);
}
}

  }
  80% {
    border-radius:50% 0 50% 50% ;
    transform:rotate(180deg);
  }
}

80% {
  border-radius:50% 50% 50% 50% ;
  transform:rotate(180deg);
}
}
