.logo {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link {
    display: block;
    width: 100%;
    height: 100%;
}

.logo-letters {
    width: 100%;
    height: 100%;
}

.logo-dot {
    position: absolute;
    right: 0;
    top: -20%;
    height: 15%;
    width: 15%;
    background-color: #AA0000;
    animation: square-to-circle 4s 0s infinite alternate;
}


@keyframes square-to-circle {
  0%  {
    border-radius:50%;
    transform:rotate(180deg);
  }

}
30% {
  border-radius:50% 50%;
  transform:rotate(40deg);
}
}

  }
  80% {
    border-radius:50% 0 50% 50% ;
    transform:rotate(180deg);
  }
}

80% {
  border-radius:50% 50% 50% 50% ;
  transform:rotate(180deg);
}
} */

/* .logo-letters {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   width: 15%;
} */


/* div {
width: 40px;
height: 40px;
background-color:#AA0000;
animation: square-to-circle 4s 0s infinite alternate;
position: absolute;
left: 927px;
top: 170px;
}
