body {
font-family: futura;
background-image: url('../img/moon.JPG');
background-size: contain;
}

a:link {
color: white
}

a:hover {
color: darksalmon;
opacity: 90%;
transform: skew(-10deg);
}

.links {
font-size: 100px;
position: relative;
top: 100px;
}

.studio {
display: block;
margin: auto;
color: white;
opacity: 70%;

}

.lab {
display: block;
color: white;
opacity: 70%;
}
