.all {
margin: 150px;
font-family: monospace;
}

h1 {
font-size: 100px;
text-align: center;
}

h2 {
font-weight: lighter;
text-decoration: underline;
}

h3 {
  font-weight: lighter;
  font-style: oblique;
  line-height: 20px;
}

.h1, .h2, .h3 {
font-family: 'Righteous', 'cursive';
}


.h2, .h3 {
line-height: 15px;
position: relative;
left: 80px;
color: lightsalmon;
width: 500px;
}

.body {
position: relative;
padding: 30px;
width: 50%;
line-height: 18px;
}
