.title {
font-family: 'Playfair Display', serif; black;
font-size: 100px;
text-align: center;
/*text-shadow: 4px 4px 4px #aaa;*/
}

body {
margin: 100px;
}

.subtitle {
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 50px;
}

.introduction {
font-family: 'Playfair Display', serif;
font-style: normal;
padding: 70px;
bottom: 10px;
font-size: 30px;
position: relative;
color: orange;
line-height: 40px;
}

.body {
  position: relative;
  padding: 30px;
  width: 39%;
  line-height: 18px;
  font-family: futura;
 line-height: 30px;
 margin-left: 90px;
 display: inline-block;
  }


h2 {
  color:black;
  font-weight: normal;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-style: normal;
}

img {

  -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
 border:1px solid #021a40;
 position: relative;
 left: 700px;
 bottom: 690px;
}

img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.back {
  font-family: 'Playfair Display', serif;
  position: relative;
  color: black;
  display: inline-block;
  padding: 5px;
}


.next {
  font-family: 'Playfair Display', serif;
  position: relative;
  color:black;
  left: 10px;
  display: inline-block;
  padding: 100px;
}

.links {
position: relative;
  bottom: 730px;
  text-align: center;
  right: 350px;
  left: 300px;
  font-size: 36px;
}

.next:hover {
  transition-property: transform;
  transition-duration: 3s;
    transform: translateX(200px);
color:peachpuff;
opacity: 0.3;
}

.back:hover {
  transition-property: transform;
  transition-duration: 3s;
    transform: translateX(-200px);
color:peachpuff;
opacity: 0.3;
}

a {
color:peachpuff;
}

a:hover {
color:orange;
}
