body {
font-family: futura;
background-size: cover;
opacity: 90%;
}

a:link {
}

a:hover {
color: lightsalmon;
opacity: 0.4;
}

.links {
font-size: 100px;
color: lightblue;
opacity: 0.9;
position: relative;
text-align: center;
line-height: 100px;
}

h1 {
text-align: center;
color: lightsalmon;
font-size: 200px;
opacity: 0.9;
}

.back {
font-size: 60px;
position: relative;
left: 50%;
top: 300px;
color: lightblue;
}

.back:hover{
color: lightsalmon;
}
