.image {
  padding: 100px;
  display: block;
  margin: auto;
  margin-top: 60px;
  border: 1px solid brown;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}


.image:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(70%);
}
 }


a {
color:peachpuff;
}


.debt {
color: orange;
display: inline-block;
}

.parent {
    display:flex;
    justify-content: flex-end;
    flex-direction:column;
}

.popup {

}

.introduction {
    float: left;
    width: 50%
}

.square {
margin: auto;
background-color: #2A3732;
width: 1px;
height: 130px;
margin-top: 10px;
}

@media only screen and (max-width: 1080px ) {

    

    .box {
        margin-left: 100px;
        padding: 100px;
        margin-top: 20px;
        border: 1px solid brown;
    }

}
