* {
    box-sizing: border-box;
}

.img1 {
  width: 350px;
  height: 450px;
  align-items: center;
  margin-left: 350px;
  margin-top: 70px;
}

.img2 {
  width: 350px;
  height: 450px;
  margin-left: 100px;
  margin-top: 70px;
}

.container {
  height: 450px;
  display: inline-block;
  margin: auto;
  }

.block {
  font-size: 30px;
  font-family: 'Playfair Display', serif; black;
  height: 80px;
  display: inline-block;
}

.block.one.is-active {
  display: block;
  margin-left: 280px;

}

.block.two.is-active {
  display: block;
   margin-left: 50px;
}

.block.one {
    display: none;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    color: brown;
    padding: 10px;

}

.block.two {
    display: none;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    color: brown;
    padding: 10px;
 }

.boxdates:hover {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(-200px);
}

.dates {
color: #2A3732;
opacity: 0.9;
}
