* {
    box-sizing: border-box;
}

.img1 {
  width: 540px;
  height: 650px;
  margin-left: 90px;
  margin-top: 90px;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}


.img1:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(70%);
}

.img2 {
  width: 535px;
  height: 650px;
  margin-left: 100px;
  margin-top: 70px;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.img2:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(70%);
}

.container {
  height: 450px;
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  }

.block {
  font-size: 50px;
  font-family: 'Playfair Display', serif; black;
  height: 80px;
  display: inline-block;

}

.block.one.is-active {
  display: block;
  margin-left: 280px;

}

.block.two.is-active {
  display: block;
   margin-left: 300px;
}

.block.one {
    display: none;
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    color: #aa5539;
    padding: 10px;
    position: relative;
    bottom: 100px;
    left: 25px;
}

.block.two {
    display: none;
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    color: brown;
    padding: 10px;
    position: relative;
    bottom: 100px;
    left: 25px;
 }

.boxdates:hover {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(-200px);
}
