* {
box-sizing: border-box;}


.box:hover {
      -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(70%);
    }


.box {
    padding: 100px;
    margin-top: 20px;
    border: 1px solid brown;
    margin-left: 80px;
}
.wrap {
display: flex;
justify-content: center;
margin-top: 80px;
padding: 50px;
}


@media only screen and (max-width: 1080px ) {

    .wrap {
    display: block;
    margin-top: 80px;
    padding: 50px;
    }

    .box {
        margin-left: 100px;
        padding: 100px;
        margin-top: 20px;
        border: 1px solid brown;
    }

}
