 body {
  font-family:  futura;
 font-style: normal;
 font-weight: lighter;
background-color: snow;
line-height: 30px;
padding: 10px;

}

  .column {
      float: left;
      width: 60%;
      padding: 10px;
      position: relative;
      left: 100px;
      align-items: center;
      display: block;
      top: 30px;

  }

  .img1 {
  margin-left: auto;
     margin-right: auto;
     width: 30%;
     position: relative;
     display: inline-block;
         top: 315px;
         -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(0%); /* FF 35+ */
         transition: filter .2s ease-in-out;
       }


  .img1:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(70%);
  }

}

.back {
  font-family: 'Playfair Display', serif;
  position: relative;
  color: black;
  display: inline-block;
  padding: 5px;
    right: 550px;
    left: 1200px;
    font-size: 36px;
}

.links {
}

.back:hover {
transition-property: transform;
transition-duration: 3s;
transform: translateX(-200px);
color:peachpuff;
opacity: 0.3;
}
