* {
box-sizing: border-box;}


.la:hover {
      -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(70%);
    }


.la {
    padding: 100px;
    margin-top: 20px;
    border: 1px solid brown;
}
.wrap {
display: flex;
justify-content: space-around;
margin-top: 80px;
padding: 50px;
}

@media only screen and (max-width: 1080px ) {


    .wrap {
    display: block;
    margin-top: 80px;
    padding: 50px;
    }

    .la {
        margin-left: 100px;
        padding: 100px;
        margin-top: 20px;
        border: 1px solid brown;
    }

}
