body {
     background: whitesmoke;
}
.wrap {
justify-content: space-between;
margin-top: 80px;
}

.box {
  padding: 100px;
  display: block;
  margin-top: 60px;
  border: 1px solid brown;
  max-width: 100%;
  margin: auto;
}


.quote::selection {
color: #aa5539;
}

@media (max-width: 450px ) {

.box {
    padding: 50px;
    margin-top: 20px;
    margin: auto;
}

.quote{
width: 89%;
padding-top: 39px;}
}

}
