 body {
  font-family: futura;
 background: whitesmoke;


}

#A10 {
color: black;
padding: 20px;
}

.parent {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 100px;
   -moz-column-width: 100px;
        column-width: 100px;
   text-align: justify;
   padding: 40px;
      }

h3 {
font-weight: normal;
font-style: oblique;
color: teal;
font-family: futura;
font-size: 60px;
text-align: center;
text-decoration: underline;
}

.column {
width: 80%;}

 .img1 {
     position: relative;
     float: left;
     padding: 100px;
     display: inline-block;
     margin: auto;}

img {
        -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
       filter: grayscale(0%); /* FF 35+ */
      transition: filter .2s ease-in-out;
    }

 img:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
       }
}

.img2 {
  display: inline-block;
   margin-left: auto;
   margin-right: auto;
   position: static;
   margin: auto;
}


H4 {
font-weight: normal;
font-style: normal;
padding-top: 140px;
color: teal;
font-family: futura;
}
