 body {
 background: whitesmoke;
}

#A10 {
color: black;
padding: 20px;
}

.parent {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 100px;
   -moz-column-width: 100px;
    column-width: 100px;
   text-align: justify;
   padding: 40px;
      }

h3 {
font-weight: normal;
font-style: oblique;
color: teal;
font-family: futura;
font-size: 60px;
text-align: center;
text-decoration: underline;
}

.column {
width: 80%;}

 .img1 {
     padding: 100px;
     display: block;
     margin: auto;
     margin-right: 70px;
 }

 .img2 {
     display: block;
     margin-left: 300px;
     margin-bottom: 60px;

 }

 .img3 {
     display: block;
    margin-left: 80px;
     margin-bottom: 60px;

 }

img {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
     filter: grayscale(0%); /* FF 35+ */
     transition: filter .2s ease-in-out;
    }

 img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
     filter: grayscale(100%);
       }
}


H4 {
font-weight: normal;
font-style: normal;
padding-top: 140px;
color: teal;
font-family: futura;
}

#la {
  padding: 90px;
  margin-top: 60px;
  border: 1px solid brown;
  margin-left: 80px;
}

#ra {
  padding: 90px;
  margin-top: 60px;
  border: 1px solid #aa5539;;
  margin-left: 80px;
}

.image {
margin-left: 100px;
}
