 body {
 background: whitesmoke;
}


 .virginiaslims-image {
     padding: 100px;
     display: block;
     margin: auto;
     margin-right: 70px;
     max-width: 100%
 }

 .virginiaslims-image-2 {
     display: block;
     margin-left: 300px;
     margin-bottom: 60px;
     max-width: 100%;

 }

 .steinem-image {
     display: block;
     margin-left: 80px;
     margin-bottom: 60px;
     max-width: 100%;
 }

img {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
     filter: grayscale(0%); /* FF 35+ */
     transition: filter .2s ease-in-out;
    }

 img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
     filter: grayscale(100%);
       }


#la {
  padding: 90px;
  margin-top: 60px;
  border: 1px solid brown;
  margin-left: 80px;
}

#ra {
  padding: 90px;
  margin-top: 60px;
  border: 1px solid #aa5539;;
  margin-left: 80px;
}

.image {
margin-left: 100px;
}

@media (max-width: 450px ) {


    #la {
      padding: 60px;
      margin-top: 60px;
      border: 1px solid brown;
      margin-left: 0px;
    }

    #ra {
      padding: 40px;
      margin-left: auto;
    }

    .steinem-image {
        margin-left: 0px;
 margin-bottom: 0px;
    }

}
