body {
 background: whitesmoke;}
 
.grapenuts1-image {
    max-width: 100%;
}

.grapenuts2-image {
    max-width: 100%;
}

.noshapead-image {
max-width: 100%}

.silvathings-image {
max-width: 100%;}

.wrap {
    margin-bottom: 100px;
    margin-top: 40px;
    margin-left: 90px;
}

.wrap-image{
  padding: 70px;
  margin-top: 60px;
  border: 1px solid brown;
}


 .grapenuts2-image:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
       }

.grapenuts1-image:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
      }

.noshapead-image:hover {
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(70%);
            }

.silvathings-image:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(70%);
}


#boite {
  padding: 70px;
  margin-top: 60px;
  border: 1px solid brown;
}

#boite-2 {
  padding: 70px;
  margin-top: 60px;
  border: 1px solid brown;
  margin-left: 200px;
}

@media (max-width: 450px ) {

    .wrap {
        margin-bottom: 10px;
        margin-top: 40px;
        margin-left: 10px;
    }

    #boite-2 {
       margin-left: -5px;}

       .grapenuts1-image {
           margin-left: -5px;
       }

       .grapenuts2-image {
           margin-left: -5px;

       }
       .noshapead-image {
       margin-left: -5px;}

       .silvathings-image {
       margin-left: -5px;}
