.img1 {
border: 1px solid brown;
}


 .img1:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
       }
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;

}

.photo-grid-item {
  border: 1px solid #fff;
  padding: 20px;
  width: 650px;
  height: 650px;
  margin-top: 100px;
  padding: 50px;
}
