

.dove-ad1, .dove-ad2 {
border: 1px solid brown;
margin-bottom: 40px;
}


 .dove-ad2:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
       }
}
.dove-ad1 {
max-width: 100%;
}

.dove-ad1:hover {
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(70%);
      }
}

.photo-grid-wrap {
  display: flex;
}

.photo-grid {
  display: flex;
  justify-content: center;
}

.photo-grid-item {
  margin-top: 100px;
}

video {
    display: block;
    margin: 0 auto;
    border: 1px solid brown;
    padding: 5px;
}



@media only screen and (max-width: 450px ) {

    .photo-grid {
      display: block;
      margin-left: auto;
    }

.dove-ad2 {
    width: 80%;
    margin-left: 30px;
}
.dove-ad1 {
    width: 80%;
     margin-bottom: -60px;
     margin-left: 30px;
}

video {
    margin-left: 30px;
    display: block;
    width: 80%;
}

.photo-grid-wrap {
  display: flex;
  justify-content: center;
}


}
