.dove-ad1, .dove-ad2 {
border: 1px solid brown;
}

 .img1:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(70%);
       }
}

.photo-grid-wrap {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
}

.photo-grid-item {
  padding: 10px;
  width: 650px;
  height: 650px;
  margin-top: 100px;
  padding: 50px;
}

video {
    padding: 20px;
    margin: auto;
    margin-top: -320px;
    margin-left: 25%;
    width: 650px;
    height: 650px;
}

@media only screen and (max-width: 1080px ) {

    .photo-grid {
     display: block;
    }

.dove-ad2 {
    margin-top: -250px;
}

video {
    margin-top: -540px;
    padding: 20px;
    margin-left: 10%;
    width: 650px;
    height: 650px;
}

}
