.body {
padding-bottom: 90px;
}

#ad1-1920 {
    display: flex;
    align-items: center;
    max-width: 100%;
}

#ad2-1920 {
display: flex;
align-items: center;
max-width: 100%;
}


.boite-1 {
  padding: 70px;
  margin-top: 30px;
  border: 1px solid brown;
  margin: auto;
}

.boite-2 {
  padding: 70px;
  margin-top: 30px;
  border: 1px solid brown;
  margin: auto;
}


.wrap {
    display: flex;
    justify-content: center;
}

.imagewrap {
display: flex;
}


img {
       -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(0%); /* FF 35+ */
     transition: filter .2s ease-in-out;
   }

img:hover {
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(70%);
      }


@media only screen and (max-width: 450px ) {


    #ad1-1920 {
        flex-direction: column;
        width: 80%;
        margin-left: 0px;
    }

    #ad2-1920 {
    width: 80%;
    height: 60%;
    flex-direction: column;
    margin-left: 0px;
    }

    .box {
      padding: 10px;
      margin-top: 30px;
    }

    .boite-1 {
      padding: 30px;
      height: 40%;
      margin-top: 0px;
      margin-bottom: 70px;
      border: 1px solid brown;
    }

    .boite-2{

      padding: 50px;
      border: 1px solid brown;
    }


    .wrap {
        display: flex;
        flex-direction: column;
    }

    .imagewrap {
    display: flex;
    }
}
