 body {
     background: whitesmoke;}

.wrap {
    margin-left: 40px;
}

.glossier-image {
max-width: 100%;
margin-left: 35px;
border: 1px solid brown;
}

.asos-ad {
    max-width: 100%;
}

.lanebyrant-image-1 {
    max-width: 100%;}

.lanebyrant-image-2 {
    max-width: 100%;
}

.glossier-image:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(100%);
       }

.asos-ad:hover {
        -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(70%);
              }

.photo-grid-wrap {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;

}

.photo-grid-item {
  width: 650px;
  padding: 50px;
}

.lanebyrant-image-1 {
    display: flex;
padding: 35px;
border: 1px solid brown;
margin-left: 35px;
}

.lanebyrant-image-2 {
display: flex;
margin-left: 35px;
padding: 35px;
border: 1px solid brown;
}


#boite {
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 32px;
    border: 1px solid brown;
}

#boite-1 {
    display: flex;
    margin-left: 120px;
    padding: 100px;
    margin-top: 20px;
    border: 1px solid brown;
}


@media only screen and (max-width: 450px ) {

    .photo-grid {
      flex-direction: column;
    }


    .photo-grid-item {
      width:400px;
      padding: 20px;
    }

    .glossier-image {
    margin-left: 0px;
    }

    .asos-image {
    margin-left: 0px;
}


    .lanebyrant-image-1 {
        margin-left: 0px;
        padding: 0px;
        margin-top: 10px;
    }

    .lanebyrant-image-2 {
        margin-left: 0px;

    }

    .wrap {
            margin-left: 0px;
            width: 400px;
        }


    #boite {
        padding: 0px;
        margin-bottom: 40px;
        width: 80%;
    }

    #boite-1 {
        margin-left: 45px;
        padding: 50px;
        margin-bottom: 32px;
        margin-top: 20px;
        width: 80%;
    }

}
