.img1 {
margin-left: 35px;
border: 1px solid brown;
}


.img1:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(100%);
       }
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
}

.photo-grid-item {
  width: 650px;
  padding: 50px;
}



#box {
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 32px;
    border: 1px solid brown;
}

#box-1 {
    margin-left: 120px;
    padding: 100px;
    margin-top: 20px;
    border: 1px solid brown;
}

.wrap {
    margin-left: 40px;
}
