.arrows {
margin: 80px;}

.next {
    width: 5.5%;
    height: 5.5%;
    float: right;
    margin-bottom: 40px;
}

.back {
width: 5.5%;
height: 5.5%;
float: left;
margin-bottom: 40px;
}


.logos {
     display: block;
    width: 100%;
    height: 100%;
}

.logos {
    position: absolute;
    right: 0;
    top: -20%;
    height: 15%;
    width: 15%;
    color: #b88c90;
    background-color:#b88c90;
    z-index: 1;
    animation: square-to-circle 4s 0s infinite alternate;
}


@keyframes square-to-circle {
  0%  {
    border-radius:50%;
    transform:rotate(180deg);
  }

}
30% {
  border-radius:50% 50%;
  transform:rotate(40deg);
}
}

  }
  80% {
    border-radius:50% 0 50% 50% ;
    transform:rotate(180deg);
  }
}

80% {
  border-radius:50% 50% 50% 50% ;
  transform:rotate(180deg);
}
}

body {
   position: relative;
}

.container {
   position: relative;
}

.banner {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100vh;
}

.title {
   font-family: 'Six Caps', sans-serif;
   font-size: 200px;
   color: #b88c90;
   z-index: 10;
   text-decoration: none;
   transition: 1s;
   letter-spacing: 2px;
}

.title:hover {
   color: black;
}


.banner-image {
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   z-index: -1;
   object-fit: cover;
   position: absolute;
}

.square {
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
background-color: black;
width: 2px;
height: 130px;
background:
text-shadow: 1px 1px 1px #aaa;
}

.cover {
margin-left:auto;
}

.square-1 {
margin: auto;
margin-top: 100px;
margin-bottom: 70px;
background-color:  #b88c90;
height: 2px;
width: 130px;
text-shadow: 1px 1px 1px #aaa;
}

#box {
  padding: 70px;
  margin-top: 60px;
  border: 1px solid #b88c90;
  margin-left: 100px;
  margin: auto;
}

.it-images {
border: 1px solid black;}


.it-images:hover {
         -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
         filter: grayscale(100%);
       }


#box:hover{
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);

}

.banner-image:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
}

.left:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.right:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#box-1 {
  padding: 40px;
  margin-top: 60px;
  border: 1px solid #b88c90;
  margin-left: 100px;
  margin: auto;
}

@media only screen and (max-width: 1080px ) {

.logos {
    display: none;
}

    .next {
        width: 10.5%;
        height: 10.5%;
    }

    .back {
    width: 10.5%;
    height: 10.5%;
    }

}
