* {
    box-sizing: border-box;
}

.title {
font-family: 'Playfair Display', serif;
font-size: 100px;
text-align: center;
/*text-shadow: 4px 4px 4px #aaa;*/
}

body {
margin: 100px;
}

.subtitle {
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 38px;
font-weight: italic;
padding: 20px;
}

/*
.subtitle1 {
font-family: 'Playfair Display', serif,normal;
text-align: center;
font-size: 27px;
font-weight: italic;
text-align: right;
font-family: futura;
font-style: italic;
}
*/

.introduction {
font-family: 'Playfair Display', serif;
font-style: normal;
padding: 70px;
bottom: 10px;
font-size: 30px;
position: relative;
color: orange;
line-height: 40px;
}

body {
    background-color: white;
    font-family: futura, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1000px;
  margin: auto;
  top: 70px;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: peachpuff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: peachpuff;
  opacity: 0.5l
    border: 2px solid orange;
    top: 15px;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    right: 30px;
   }


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
}

.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.content {
position:relative;
left:200px;
font-family: 'Playfair Display', serif;}


h2 {
position:relative;
  left: 0px;
  bottom: 55px;
  font-size: 38px;
}

h3 {
  position:relative;
  right: 235px;
    bottom: 65px;
  font-size: 38px;
}

.back {
  font-family: 'Playfair Display', serif;
  position: relative;
font-size: 30px;
  color: lightpink;
  display: inline-block;
  padding: 5px;
  left: 1000px;
}

.back:hover {
  transition-property: transform;
  transition-duration: 3s;
  transform: translateX(-200px);
color:peachpuff;
opacity: 0.3;
}

a {
color:black;
transition-property: transform;
transition-duration: 3s;
}

a:hover {
color:orange;
opacity: 0.5;
}
