* {
    box-sizing: border-box;
}

.introduction {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 30px;
    top: 100px;
    position: relative;
    color: orange;
    width: 70%;
    line-height: 40px;
    }


.title {
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
/*text-shadow: 4px 4px 4px #aaa;*/
}

.subtile:hover {
color: peachpuff;
 }

body {
margin: 100px;
background-color: snow;
font-family: futura;
font-size: 18px;
}

title:hover{
color: peachpuff;
}


.subtitle {
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 38px;
font-weight: italic;
padding: 20px;
}




.back {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  position: absolute;
  color: lightpink;
  display: inline-block;
  padding: 30px;
  margin: auto;
  left: 0px;
}

.back:hover {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(-200px);
    color:peachpuff;
    opacity: 0.3;
}

a {
    color:black;
    transition-property: transform;
    transition-duration: 3s;
}

a:hover {
color:orange;
opacity: 0.5;
}
