* {
    box-sizing: border-box;
}

h2 {
    position:relative;
    right: 72px;
    bottom: 75px;
    font-size: 50px;
}

h3 {
  position:relative;
  right: 190px;
  bottom: 105px;
  font-size: 55px;
}

a {
    color:black;
    transition-property: transform;
    transition-duration: 3s;
}

img {
    width: 100%;
    margin:auto;
}

.title {
    color:brown;
    font-family: 'Playfair Display', serif;
    font-size: 110px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 1px 1px 1px #aaa;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 38px;
    font-weight: italic;
    padding: 20px;
    color: black;
    text-shadow: 1px 1px 1px #aaa;*/
}

a:hover {
color: brown;}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
    top: 70px;
    min-height: 100%;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;

    background-color: peachpuff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 0.2px 0.2px 0.2px #aaa;

}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: brown;
    box-shadow: 1px 1px 1px #aaa;
    top: 15px;
    z-index: 1;
}

.left {
    right: 5;
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
}

.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    bottom: 5px;
    font-family: 'Playfair Display', serif;
    left: 150px;
    text-shadow: 1px 1px 1px #aaa;
 }


#post5 {
    position:relative;
    left: 70px;
      bottom: 105px;
     font-size: 50px;
}

#post3 {
      position:relative;
      bottom: 85px;
      right: 20px;
      font-size: 50px;
}

#post9 {
    position: relative;
      bottom: 85px;
      font-size: 50px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: auto;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }


}

.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  padding-top: 0px;
}

.links {
  display: flex;
  justify-content:center;
  font-family: futura;
  font-size: 30px;
  color: black;
}

.contact {
margin: 20px;
padding: 10px;
text-decoration: none;
color: black;
}

.menu-container {
color: black;
text-decoration: none;
}

.photo-grid-wrap {
  display: flex;
  justify-content: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 32%;
}

.photo-grid {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
    padding: 22px;
    margin-top: 30px;
}

.womans-own-image:hover{
    filter: grayscale(90%);
}

.shoe-ad-image:hover{
    filter: grayscale(90%);
}

.nurse-image:hover{
    filter: grayscale(90%);
}

.logos {
    margin: auto;
    top: 300px;
}

.logos {
    position: absolute;
    right: 0;
    top: -20%;
    width: 475px;
    height: 1%;
    background-color: #AA0000;
    animation: square-to-circle 4s 0s infinite alternate;
}


@keyframes square-to-circle {
  0%  {
    border-radius:50%;
    transform:rotate(180deg);
  }

}
30% {
  border-radius:50% 50%;
  transform:rotate(40deg);
}
}

  }
  80% {
    border-radius:50% 0 50% 50% ;
    transform:rotate(180deg);
  }
}

80% {
  border-radius:50% 50% 50% 50% ;
  transform:rotate(180deg);
}
}
